@import '../../styles/base/settings';

#OrderedGroceriesNavBarContainer {
    width: 100%;
    background-color: $grey-1;
    height: $sizing-10;
    border-bottom: 1px solid $sgrey-1;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ordered-groceries-nav-bar-title {
    height: 100%;
    
    
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: $type-sizing-6;
    font-weight: 100;
    color: $sgrey-8;;
}

#ordered-groceries-nav-bar-toolbar {
    height: 100%;
    
    flex-grow: 1;
}