@import '../../styles/base/settings';

#dashboard-grocery-table-container {
    width: $sizing-17;
    padding-left: $sizing-11;
    padding-top: $sizing-9;
    margin-bottom: $sizing-11;
}

#dashboard-grocery-table {
    background-color: $grey-0;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: $sizing-5;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#dashboard-grocery-table:hover {
    box-shadow: 0 32px 64px 10px rgba(0,0,0,0.2);
}

#dashboard-grocery-header-container {
    transition: 0.3s;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    background-color: $primary-8;
    border-top-left-radius: $sizing-5;
    border-top-right-radius: $sizing-5;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    padding: $sizing-5;
}
#dashboard-grocery-header-container:hover {
    box-shadow: 0 32px 64px 10px rgba(0,0,0,0.2);
}




#dashboard-grocery-header {
    color: white;
    font-weight: 200;
    font-size: $type-sizing-4;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#dashboard-grocery-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: $sizing-7;
}

@-webkit-keyframes fadeIn {
    0% {
    // -webkit-transform: scale(0%);
    // transform: scale(0%);
    opacity: 0;
    visibility: visible;
    }
    100% {
        opacity: 1;
    // -webkit-transform: scale(100%);
    // transform: scale(100%);
    }
    }
    @keyframes fadeIn {
    0% {
        opacity: 0;
    // -webkit-transform: scale(0%);
    // transform: scale(0%);
    visibility: visible;
    }
    100% {
        opacity: 1;
    // -webkit-transform: scale(100%);
    // transform: scale(100%);
    }
}

@-webkit-keyframes fadeOut {
    0% {
    // -webkit-transform: scale(100%);
    // transform: scale(100%);
    opacity: 1;
    visibility: visible;
    }
    100% {
    opacity: 0;
    // -webkit-transform: scale(0%);
    // transform: scale(0%);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    // -webkit-transform: scale(100%);
    // transform: scale(100%);
    visibility: visible;
    }
    100% {
        opacity: 0;
    // -webkit-transform: scale(0%);
    // transform: scale(0%);
    }
}
