@import '../../styles/base/settings';

.total {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    -moz-appearance:textfield; /* Firefox */
    border: none;
    
}

.total:hover {
    border: solid 0.5px;
}


#to-current-week {
    position: absolute;
    left: $sizing-15;
    border: none;
    border-radius: 5px;
    padding: $sizing-2;
    background-color: #f6f7f9;
    font-size: $type-sizing-2;
    font-weight: 200;
    color: $grey-5;
} 

#to-current-week:hover {
    color: $grey-9;
}

#banners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: $grey-1;

    border-bottom: 1px solid $sgrey-1;
}

#banners-nav {
    position: relative;
    right: $sizing-10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#previous-week {
    transition: 0.25s;
    fill: $sgrey-7;
    height: $sizing-5;
    width: $sizing-9;
}

#previous-week:hover {
    cursor: pointer;
    height: $sizing-6;
    fill: $primary-8;
}

#next-week {
    transition: 0.25s;
    fill: $sgrey-7;
    height: $sizing-5;
    width: $sizing-9;
}

#next-week:hover {
    height: $sizing-6;
    cursor: pointer;
    fill: $primary-8;
}

#week-banner {
    margin: 5px;
    font-size: 22px;
    font-weight: 100;
    color: $sgrey-7;
}

#year-banner {
    margin: 5px;
    font-size: 22px;
    font-weight: 300;
    color: $sgrey-7;
}

#nav-bar-navigation {
    // flex-grow: 1;
    position: relative;
    
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#week-dropdown-container {
    margin: $sizing-1;
    display: flex;
    flex-direction: column;
    color: $grey-6;
    fill: $grey-6;
}

#week-dropdown-label {
    font-size: $type-sizing-2;
    font-weight: 200;
    margin: $sizing-1;
    color: inherit;
}

#week-dropdown-container:hover {
    color: $grey-9;
    fill: $grey-9;
}

#year-dropdown-container {
    margin: $sizing-1;
    display: flex;
    flex-direction: column;
    color: $grey-6;
    fill: $grey-6;
}

#year-dropdown-container:hover {
    color: $grey-9;
    fill: $grey-9;
}

#year-dropdown-label {
    font-size: $type-sizing-2;
    font-weight: 200;
    color: $grey-6;
    margin: $sizing-1;
    color: inherit;
}