@import '../../styles/base/settings';

.recipe-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 190px;
    border-radius: 5px;
    margin: 10px;
    height: 110px;
    background-color: $grey-0;
}
  
  /* On mouse-over, add a deeper shadow */
.recipe-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    .recipe-card__header {
      border-bottom: 1px solid $grey-2;
    }
}
  
  /* Add some padding inside the card container */
.recipe-card__container {
  width: 100%;
  height: 100%;
    padding: 2px 16px;
}

#recipe-card__header-text {
  font-size: $type-sizing-3;
  font-weight: 200;
}

.recipe-card__header {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#recipe-card-button-container {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

#recipe-card-link {
  text-decoration: none;
  color: $grey-9;
  font-weight: 200;
  font-size: $type-sizing-2;
}

#recipe-card-link:hover {
  color: $primary-8;
}