@import '../../styles/base/settings';




#ordered-grocery-table-title {
    width: 100%;
    margin-top: $sizing-5;
    padding-bottom: $sizing-6;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: $type-sizing-5;
    font-weight: 200;
}

#ordered-grocery-table-title-text {
    width: 80%;
    padding-bottom: $sizing-2;

    display: flex;
    flex-direction: row;
    justify-content: center;

    border-bottom: 1px solid $grey-3;
}

#ordered-grocery-table {
    width: $sizing-16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ordered-grocery-container {
    width: 100%;
    margin-top: $sizing-3;
    margin-bottom: $sizing-3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ordered-grocery-category-title {
    width: 50%;
    padding-bottom: $sizing-1;
    margin-bottom: $sizing-4;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: $type-sizing-5;
    font-weight: 200;
    color: $primary-9;
}

#ordered-grocery-table-grocery-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ordered-grocery-table-grocery {
    width: 100%;
    margin-bottom: $sizing-3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#ordered-grocery-table-grocery-product {
    width: 47%;
    margin-right: $sizing-3;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    font-size: $type-sizing-3;
    font-weight: 200;
    color: $grey-9;
}
#ordered-grocery-table-grocery-separator {
    width: 6%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
#ordered-grocery-table-grocery-amount {
    width: 47%;
    margin-left: $sizing-3;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-size: $type-sizing-3;
    font-weight: 200;
    color: $grey-9;
}