.main-dashboard-recipe-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 160px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.view-ingredients-card {
    display: none;
}


.main-dashboard-recipe-card:hover {
    .view-ingredients-card {
        display: inline-block;
    }
}
.main-dashboard-recipe-card__header {
    display: flex;
    flex-direction: row;
}