@import '../../styles/base/settings';



.main-dashboard-recipe-card {
    background-color: $grey-0;
    /* Add shadows to create the "card" effect */
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 160px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // -webkit-animation-name: fadeIn;
    // animation-name: fadeIn;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
}

 
@-webkit-keyframes fadeIn {
    0% {
    // -webkit-transform: scale(0%);
    // transform: scale(0%);
    opacity: 0;
    visibility: visible;
    }
    100% {
        opacity: 1;
    // -webkit-transform: scale(100%);
    // transform: scale(100%);
    }
    }
    @keyframes fadeIn {
    0% {
        opacity: 0;
    // -webkit-transform: scale(0%);
    // transform: scale(0%);
    visibility: visible;
    }
    100% {
        opacity: 1;
    // -webkit-transform: scale(100%);
    // transform: scale(100%);
    }
}

@-webkit-keyframes fadeOut {
    0% {
    // -webkit-transform: scale(100%);
    // transform: scale(100%);
    opacity: 1;
    visibility: visible;
    }
    100% {
    opacity: 0;
    // -webkit-transform: scale(0%);
    // transform: scale(0%);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    // -webkit-transform: scale(100%);
    // transform: scale(100%);
    visibility: visible;
    }
    100% {
        opacity: 0;
    // -webkit-transform: scale(0%);
    // transform: scale(0%);
    }
}




.main-dashboard-recipe-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    #main-dashboard-recipe-card-content-container {
        border-bottom: 1px solid $sgrey-2;
    }
}

.main-dashboard-recipe-card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
  
.view-ingredients-card {
    display: none;
}


.main-dashboard-recipe-card__header {
    height: $sizing-9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    border-bottom: 1px solid $sgrey-2;
    width: $sizing-11;

}

#main-dashboard-recipe-card__header-text {
    color: $sgrey-7;
    font-weight: 300;
    font-size: $type-sizing-4;
}

#main-dashboard-recipe-card-footer {
    margin-top: $sizing-3;
    height: $sizing-9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#main-dashboard-recipe-card-footer_ingredients {
    border: none;
   border-bottom: 0.5px solid $grey-1;
   text-decoration: none;
   color: $sgrey-7;
   font-weight: 300;
   font-size: $type-sizing-2;
   background-color: $grey-1;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
   -webkit-animation-duration: .3s;
   animation-duration: .3s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}


#main-dashboard-recipe-card-footer_ingredients:hover {
    color: $primary-8;
    cursor: pointer;
}


#main-dashboard-recipe-card-footer_recipe {
   padding: none;
   border-bottom: 0.5px solid $grey-1;
   text-decoration: none;
   color: $sgrey-7;
   font-weight: 300;
   font-size: $type-sizing-2;
}

#main-dashboard-recipe-card-footer_recipe-div {
    
    background: $grey-1;
    -webkit-animation-name: fadeIn-div;
    animation-name: fadeIn-div;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn-div {
    0% {
    -webkit-transform: scale(0%);
    transform: scale(0%);
    visibility: hidden;
    }
    100% {
    -webkit-transform: scale(100%);
    transform: scale(100%);
    }
    }
    @keyframes fadeIn-div {
    0% {
    -webkit-transform: scale(0%);
    transform: scale(0%);
    visibility: hidden;
    }
    100% {
    -webkit-transform: scale(100%);
    transform: scale(100%);
    }
}

#main-dashboard-recipe-card-footer_recipe:hover {
    color: $primary-8;
}




#main-dashboard-recipe-card-content_recipe {
    margin-top: $sizing-5;
    margin-bottom: $sizing-4;
    font-size: $type-sizing-2;
    font-weight: 400;
    color: $sgrey-7;
    text-decoration: none;

}

#main-dashboard-recipe-card-content_recipe:hover {
    color: $primary-8;
}

#main-dashboard-recipe-card-content-container {
    border-bottom: 1px solid $grey-1;
    margin-top: $sizing-2;
    height: $sizing-10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: $sizing-11;
    font-weight: 300;
    color: $sgrey-7;
    font-size: $type-sizing-3;
}

#main-dashboard-recipe-card-content-container-norecipe {
    margin-top: $sizing-2;
    height: $sizing-10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: $sizing-11;
    font-weight: 300;
    font-size: $type-sizing-3;
    color: $sgrey-7;
}

#recipe-picker-loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $sizing-5;
    width: $sizing-5;
}

