.grocery-list-input {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    -moz-appearance:textfield; /* Firefox */
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
}