.recipe-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 190px;
    border-radius: 5px;
    margin: 10px;
}
  
  /* On mouse-over, add a deeper shadow */
.recipe-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.recipe-card__container {
    padding: 2px 16px;
}

.recipe-card-empty {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 190px;
    border-radius: 5px;
    margin: 10px;
}
  
  /* On mouse-over, add a deeper shadow */
.recipe-card-empty:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.recipe-card-empty__container {
    padding: 2px 16px;
}

