@import '../../styles/base/settings';

.recipe-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: $sizing-14;
    padding-top: $sizing-5;
    padding-bottom: $sizing-5;
}

.grocery-list-recipe-ingredients-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-ingredients_ingredient-add-button {
    display: none;
}

.recipe-ingredients_ingredient {
    display: flex;
    flex-direction: row;
}

.recipe-ingredients_ingredient:hover {
    .recipe-ingredients_ingredient-add-button {
        display: inline-block;
    }
}

#main-dashboard-content {
    // background-color: $grey-1;
    height: 100%;
}

#main-dashboard-loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}