@import '../../styles/base/settings';



.dd-wrapper {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    
    border-radius: $sizing-2;
    display: inline-block;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 65px;
    position: static;
    top: 80px;
    right: 12px;
    padding: $sizing-1;
    z-index: 20;
}

.dd-header_ {
    padding: $sizing-2;
    width: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: inherit;
}

.dd-header_:hover {
    cursor: pointer;
    border-radius: $sizing-2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.dd-header_is-open{
    color: inherit;
    cursor: pointer;
    border-top-left-radius: $sizing-2;
    border-top-right-radius: $sizing-2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: $sizing-2;
    width: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}

.dd-header-title {
    font-weight: 200;
    font-size: $type-sizing-3;
    // color: $grey-8;
    color: inherit;
    
}


.dd-list {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
    height: $sizing-12;
    padding: 0px;
    width: 65px;
    overflow:  auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    scrollbar-color: $primary-6 white;
    border-bottom-right-radius: $sizing-2;
    border-bottom-left-radius: $sizing-2;
    scrollbar-width: none;
    background-color: $grey-1;
    color: inherit;
    margin: 0px;
}





.dd-list-item {
    width: 100%;
    height: $sizing-6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: $type-sizing-3;
    color: inherit;
    background-color: white;
}

.dd-list-item:hover {
    width: 100%;
    background-color: $grey-1;
    border-radius: $sizing-1;
    cursor: pointer;

}

.dd-list-text {
    margin: 0px;
    font-weight: 200;
    font-size: $type-sizing-2;
    color: inherit;
}

.dropdown-up {
    height: $sizing-2;
    width: $sizing-2;
    fill: inherit;
}

.dropdown-down {
    fill: inherit;
    height: $sizing-2;
    width: $sizing-2;
}

