@import '../../styles/base/settings';



.dd-wrapper {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    // border: solid 0.7px white;
    border-radius: $sizing-1;
    display: inline-block;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: $sizing-9;
    position: static;
    top: 80px;
    right: 12px;
    padding: $sizing-1;
}

.dd-header_ {
    border: solid 0.7px #f6f7f9;;
    padding: $sizing-1;
    width: $sizing-9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // color: $grey-6;
    color: inherit;
}

.dd-header_:hover {
    // color: $grey-9;
    border: solid 0.9px $grey-8;
    cursor: pointer;
    border-radius: $sizing-1;

    
    
}

.dd-header_is-open{
    // color: $grey-9;
    color: inherit;
    cursor: pointer;
    border: solid 0.9px $grey-8;
    border-radius: $sizing-1;
    padding: $sizing-1;
    width: $sizing-9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}

.dd-header-title {
    font-weight: 200;
    font-size: $type-sizing-3;
    // color: $grey-8;
    color: inherit;
    
}


.dd-list {
    position: absolute;
    height: $sizing-12;
    padding: 0px;
    width: $sizing-9;
    overflow:  auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    scrollbar-color: $primary-6 white;
    border: solid 0.9px $grey-8;
    border-radius: $sizing-1;
    scrollbar-width: none;
    background-color: $grey-1;
    color: inherit;
}





.dd-list-item {
    width: 100%;
    height: $sizing-5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: $type-sizing-2;
    color: inherit;
}

.dd-list-item:hover {
    width: 100%;
    background-color: $sgrey-1;
    border-radius: $sizing-1;
    cursor: pointer;
}

.dd-list-text {
    margin: none;
    font-weight: 200;
    font-size: $type-sizing-2;
    color: inherit;
}

.dropdown-up {
    height: $sizing-2;
    width: $sizing-2;
    fill: inherit;
}

.dropdown-down {
    fill: inherit;
    height: $sizing-2;
    width: $sizing-2;
}

