.recipe-picker-card {
    /* Add shadows to create the "card" effect */

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 190px;
    height: 85px;
    border-radius: 5px;
    margin: 10px;
    
}
  
// //   /* On mouse-over, add a deeper shadow */
// .recipe-picker-card:hover {
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
// }
  
.pick-recipe-button {
  display: none;
}

.recipe-picker-card:hover {
  .pick-recipe-button {
    display: inline-block;
  }
}

  /* Add some padding inside the card container */
.recipe-picker-card__container {
    
    padding: 2px 16px;
}

// .pick-recipe-button {
//   background: none!important;
//   border: none;
//   padding: 0!important;
//   /*optional*/
//   /*input has OS specific font-family*/
//   text-decoration: underline;
//   cursor: pointer;
// }