@import '../../styles/base/settings';

#new-recipe-form-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-recipe-form-inner-container {
    width: $sizing-17;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-recipe-form-title-container {
    border-bottom: 1px solid $sgrey-1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $sizing-10;
    background-color: $grey-1;
}

#new-recipe-form-title-text {
    width: 55%;
    color: $grey-9;
    font-size: $type-sizing-6;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#new-recipe-form-save-recipe {
    margin-right: $sizing-11;
    transition: 0.4s;
    padding: $sizing-3;
    font-size: $type-sizing-3;
    text-decoration: none;
    color: $grey-9;
    border-radius: $sizing-3;
    font-weight: 100;
    display: flex;
    flex-direction: row;
}

#new-recipe-form-save-recipe:hover {
    color: $primary-9;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
}

#new-recipe-form-trash {
    height: $sizing-5;
    width: $sizing-5;
    margin-right: $sizing-6;
    transition: 0.3s;
}

#new-recipe-picker-form-error {
    height: 15px;
    margin-top: $sizing-6;
    font-size: $type-sizing-4;
    font-weight: 300;
    color: hsl(10, 50%, 50%);
}

#new-recipe-form-trash:hover {
    cursor: pointer;
    height: $sizing-6;
    width: $sizing-6;
}

#new-recipe-form-title-back-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 100%;
    padding-left: $sizing-8;
    width: 45%;
}

#new-recipe-form-title-back-inner-container {
    font-weight: 100;
    color: #514848;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: baseline;
    font-size: $type-sizing-2;
}

#new-recipe-form-title-back-icon {
    fill: $grey-5;
    height: $sizing-7;
    width: $sizing-5;
    transition: 0.25s;
    margin-right: $sizing-2;
}

#new-recipe-form-title-back-icon:hover {
    cursor: pointer;
    fill: $primary-8;
    width: $sizing-6;
}



#new-recipe-form-label {
    font-weight: 300;
    font-size: $type-sizing-3;
    color: $grey-6;
    margin-right: $sizing-7;
}


#new-recipe-form-item-container {
    margin-top: $sizing-7;
    width: 100%;
    height: $sizing-8;
    display: flex;
    justify-content: space-between;
}

#new-recipe-from-input {
    border: none;
    border-bottom: solid 0.5px $grey-6;
    font-weight: 300;
    font-size: $type-sizing-3;
    color: $grey-9;
    width: 230px;
}

#new-recipe-form-input-focused {
    border-bottom: solid 1px $grey-6;
}

#new-recipe-form-ingredients-container {
    margin-top: $sizing-7;
    width: 100%;
    height: $sizing-8;
    display: flex;
    justify-content: space-between;
}

#new-recipe-form-ingredient-content {
    width: 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#new-recipe-form-add-ingredient {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: $sizing-6;
}

#new-recipe-form-add-ingredient-plus {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: $type-sizing-5;
    width: $sizing-6;
    height: $sizing-6;
    transition: 0.4s;
}
#new-recipe-form-add-ingredient-plus:hover {
    color: $primary-8;
    cursor: pointer;
    font-size: $type-sizing-6;
}

#new-recipe-form-ingredient-text {
    background-color: $grey-1;
    margin-left: $sizing-3;
    border-radius: $sizing-4;
    font-weight: 300;
    font-size: 13x;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: $sizing-3;
    margin-bottom: 1px;
}
#new-recipe-form-ingredient-text:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}