// Colors 

// Primary
$primary-1: hsl(89, 98%, 98%);
$primary-2: hsl(89, 88%, 88%);
$primary-3 :hsl(89, 78%, 78%);
$primary-4: hsl(89, 68%, 68%);
$primary-5: hsl(89, 58%, 58%);
$primary-6: hsl(89, 48%, 48%);
$primary-7: hsl(89, 58%, 38%);
$primary-8: hsl(89, 68%, 28%);
$primary-9: hsl(89, 78%, 18%);

// Accents 

// Red
$accent-1-1:  	hsl(0, 91%, 91%);
$accent-1-2:  	hsl(0, 81%, 81%);
$accent-1-3:  	hsl(0, 71%, 71%);
$accent-1-4:  	hsl(0, 61%, 61%);
$accent-1-5:  	hsl(0, 51%, 51%);
$accent-1-6:  	hsl(0, 61%, 41%);
$accent-1-7:  	hsl(0, 71%, 31%);
$accent-1-8:  	hsl(0, 81%, 21%);
$accent-1-9:  	hsl(0, 91%, 11%);

// Orange
$accent-2-1:  	hsl(45, 100%, 91%);
$accent-2-2:  	hsl(45, 100%, 81%);
$accent-2-3:  	hsl(45, 100%, 71%);
$accent-2-4:  	hsl(45, 100%, 61%);
$accent-2-5:  	hsl(45, 100%, 51%);
$accent-2-6:  	hsl(45, 100%, 41%);
$accent-2-7:  	hsl(45, 100%, 31%);
$accent-2-8:  	hsl(45, 100%, 21%);
$accent-2-9:  	hsl(45, 100%, 11%);

// Blue
$accent-3-1:  	hsl(200, 88%, 86%);
$accent-3-2:  	hsl(200, 78%, 76%);
$accent-3-3:  	hsl(200, 68%, 66%);
$accent-3-4:  	hsl(200, 58%, 56%);
$accent-3-5:  	hsl(200, 48%, 46%);
$accent-3-6:  	hsl(200, 58%, 41%);
$accent-3-7:  	hsl(200, 68%, 31%);
$accent-3-8:  	hsl(200, 78%, 21%);
$accent-3-9:  	hsl(200, 88%, 11%);



// Greys
$grey-0: hsl(0, 0%, 98%);
$grey-1: hsl(0, 0%, 96%);
$grey-2: hsl(0, 0%, 80%);
$grey-3: hsl(0, 0%, 70%);
$grey-4: hsl(0, 0%, 60%);
$grey-5: hsl(0, 0%, 50%);
$grey-6: hsl(0, 0%, 40%);
$grey-7: hsl(0, 0%, 30%);
$grey-8: hsl(0, 0%, 20%);
$grey-9: hsl(0, 0%, 10%);


// Sandy greys
$sgrey-1: hsla(0, 6%, 90%);
$sgrey-2: hsla(0, 6%, 80%);
$sgrey-3: hsla(0, 6%, 70%);
$sgrey-4: hsla(0, 6%, 60%);
$sgrey-5: hsla(0, 6%, 50%);
$sgrey-6: hsla(0, 6%, 40%);
$sgrey-7: hsla(0, 6%, 30%);
$sgrey-8: hsla(0, 6%, 30%);
$sgrey-9: hsla(0, 6%, 10%);
$sgrey-10: hsla(0, 6%, 5%);

// Sizing and spacing
$sizing-1: 4px;
$sizing-2: 8px;
$sizing-3: 12px;
$sizing-4: 16px;
$sizing-5: 20px;
$sizing-6: 24px;
$sizing-7: 32px;
$sizing-8: 40px;
$sizing-9: 48px;
$sizing-10: 64px;
$sizing-11: 96px;
$sizing-12: 129px;
$sizing-13: 192px;
$sizing-14: 256px;
$sizing-15: 384px;
$sizing-16: 512px;
$sizing-17: 640px;
$sizing-18: 768px;


// Type scale sizing
$type-sizing-1: 12px;
$type-sizing-2: 14px;
$type-sizing-3: 16px;
$type-sizing-4: 18px;
$type-sizing-5: 20px;
$type-sizing-6: 24px;
$type-sizing-7: 30px;
$type-sizing-8: 36px;
$type-sizing-9: 48px;
$type-sizing-10: 60px;
$type-sizing-11: 72px;

// Shadows
$shadow-1: 0 1px 3px hsl(0,0%,.2);
$shadow-2: 0 4px 6px hsl(0,0%,.2);
$shadow-3: 0 5px 15px hsl(0,0%,.2);
$shadow-4: 0 10px 24px hsl(0,0%,.2);
$shadow-5: 0 15px 35px hsl(0,0%,.2);
